.card {
  max-width: 413px;
  padding: 33px 36px 60px;
}

.form {
  width: 100%;
  margin-bottom: 19px;
}

.title {
  margin-bottom: 51px;
  text-align: center;
}

.emailInput {
  margin-bottom: 19px;
}

form .instructions {
  margin: 19px 0 41px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.caption {
  margin-bottom: 11px;
  color: var(--color-light-900);
  text-align: center;
}
