/* reset */
button,
fieldset,
input {
  all: unset;
}

.TabsRoot {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.TabsList {
  display: flex;
  flex-shrink: 0;
}

.TabsTrigger {
  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 24px;

  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: var(--color-light-100);

  background: transparent;
  border-top: 1px solid var(--color-dark-300);
  border-right: 1px solid var(--color-dark-300);
  border-bottom: 1px solid var(--color-dark-300);

  &:hover {
    color: var(--color-light-100);
    background: var(--color-dark-300);
  }

  &[data-state='active'] {
    color: var(--color-light-100);
    background: var(--primary-500, #8c61ff);
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-dark-300);
    background: var(--color-dark-700);
    border: 2px solid var(--color-dark-300);
  }

  &.lastTab {
    border-left: none;
  }

  &.firstTab {
    border-right: none;
    border-left: 1px solid var(--color-dark-300);
  }
}

.fullWidth {
  width: 100%;
}
