.card {
  width: 100%;
  max-width: 413px;
  padding: 33px 36px 29px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  margin-bottom: 12px;
}

.caption {
  display: flex;
  justify-content: center;

  color: inherit;
  text-align: right;
  text-decoration: none;
}

.linkSignIn,
.linkSignUp {
  display: flex;
  justify-content: center;

  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500) !important;
}
