div .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding: 12px 136px;

  .logo {
    width: 157px;
    height: 36px;
  }

  .userContainer {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    .userName {
      border-bottom: 1px dashed white;
    }

    img {
      width: 36px;
      height: 36px;
      border-radius: 36px;
    }
  }
}

.button {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;

  background: none;
  border: none;
}

.button:focus {
  outline: none;
}

.containerParagraph {
  cursor: default;
  display: flex;
  flex-direction: column;
}
